<div ng-controller="coursesCtrl">
	<table class="table table-striped table-hover">
		<thead class="thead-inverse">
			<tr>
				<th>Name</th>
				<th>Format</th>
				<th>Location</th>
				<th>Instructor(s)</th>
				<th>Sign In</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-show="loading">
				<td colSpan="5"><i class="fa fa-spinner fa-pulse"></i></td>
			</tr>
			<tr ng-hide="loading" ng-repeat="course in courses">
				<td>{{course.name}}</td>
				<td>{{course.format}}</td>
				<td>{{course.location}}</td>
				<td>
					<div title="{{getInstructors(course)}}">
						<span ng-show="course.instructors.length < 1">No Instructors</span>
						<i ng-show="course.instructors.length === 1" class="fa fa-user" aria-hidden="true"></i>
						<i ng-show="course.instructors.length > 1" class="fa fa-users" aria-hidden="true"></i>
					</div>
				</td>
				<td>
					<button class="btn btn-primary" ng-click="onShowCourseSignInModal(course)">Sign In</button>
				</td>
			</tr>
		</tbody>
	</table>
	<form ng-submit="onSubmitPassphrase()">
		<modal visible="showCourseSignInModal" backdrop="static" on-hide="onHideCourseSignInModal()"> 
			<modal-header title={{selectedCourse.name}}></modal-header> 
			<modal-body>
				<div class="form-group">
				    <label for="inputPassphrase">Confirmation Phrase</label>
				    <input type="text" ng-model="formData.confirmationPhrase" class="form-control" id="inputPassphrase" aria-describedby="passphraseHelp" placeholder="Enter Passphrase Here">
				    <small id="passphraseHelp" class="form-text text-muted" style="font-style: italic">Passphrase will be provided by Instructor</small>
				 </div>
			</modal-body> 
			<modal-footer>
				<button ng-disabled="!formData.confirmationPhrase" type="submit" class="btn btn-primary">Submit</button>
				<button class="btn btn-danger" ng-click="onHideCourseSignInModal()">Cancel</button>
			</modal-footer> 
		</modal>
	</form>
</div>