<nav class="navbar navbar-responsive navbar-dark bg-inverse">
	<a class="navbar-brand" ui-sref="home">Spring Workshop</a>
	<div class="nav navbar-nav">
		<a ui-sref="home" ui-sref-active="active" class="nav-item nav-link">Home</a>
		<a ng-show="authenticated" ui-sref="courses" ui-sref-active="active" class="nav-item nav-link">Courses</a>
		<a ng-show="authenticated" ui-sref="signinsheets" ui-sref-active="active" class="nav-item nav-link">Sign in Sheets</a>
	</div>
	
	<a href="/auth/twitter" class="btn-danger float-xs-right" ng-hide="authenticated">
		<button class="btn btn-primary">
			<i class="fa fa-twitter" aria-hidden="true" style="margin-right: 5px;"></i> Login with Twitter
		</button>
	</a>
	<div class="btn-group float-xs-right" ng-show="authenticated">
	  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    <i class="fa fa-user" aria-hidden="true" style="margin-right: 5px;"></i>{{user.name}}<span class="caret"></span>
	  </button>
	  <ul class="userDropdown dropdown-menu">
	    <li ng-click="logout()"><a>Logout</a></li>
	  </ul>
	</div>
</nav>