<div>
	<div class="starter-template" style="text-align:center;">
		<div class="row">
			<div class="col-xs-12">
				<h1>Welcome to Microservices with Spring Workshop</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<span>Gareth Davies, Jerry Vogt, Matt Willbrand, Jason Bellomy</span>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
		    	<span>November 4th 2016, STL</span>
			</div>
		</div>
	</div>
</div>