<div ng-controller="signinsheetsCtrl">

	<form style="border-bottom: 2px solid black;">
	  <div class="form-group row">
	    <label class="col-xs-6 col-form-label" style="text-align: right;">Select Course Sign In Sheet:</label>
	    <div class="col-xs-6"  style="text-align: left;">
	      <select ng-change="onCourseChange()" ng-model="selectedCourse" ng-options="course.name for course in courses track by course.name" name="course" id="course" class="form-control-static"></select>
	    </div>
	  </div>
	</form>
	
	<div class="row" style="margin: 15px -15px;">
		<div class="col-xs-12">
			<h3>{{selectedCourse.name}}</h3>
		</div>
		<div class="col-xs-4">
			<span>Location: {{selectedCourse.location}}</span>  
		</div>
		<div class="col-xs-4">
			<span>Format: {{selectedCourse.format}}</span>  		
		</div>
		<div class="col-xs-4">
			<span style="margin-right: 2px;">Instructor(s):</span> 					
			<span data-toggle="tooltip" data-placement="top" data-title="{{getInstructors(selectedCourse)}}">
						<span ng-show="selectedCourse.instructors.length < 1">No Instructors</span>
						<i ng-show="selectedCourse.instructors.length === 1" class="fa fa-user" aria-hidden="true"></i>
						<i ng-show="selectedCourse.instructors.length > 1" class="fa fa-users" aria-hidden="true"></i>
			</span>		
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<div class="well">
				<span style="font-weight: bold; font-style: italic">Students</span>
				<hr/>

				<div class="row">
					<div ng-repeat="student in selectedCourse.students" class="col-xs-12 col-md-4">
						<div class="row">
							<div class="col-xs-10">{{student.name}}</div>
							<div ng-switch on="isSignedIn(student)" class="col-xs-2">
								<i ng-switch-when="true" class="fa fa-thumbs-up fa-2" style="color: #5CB85C"></i> 
								<i ng-switch-default class="fa fa-thumbs-down fa-2" style="color: #C9302C"></i>
							</div>
						</div>						
					</div>
				</div>

			</div>
		</div>
	</div>
	