.userDropdown {
	left: inherit;
	right: 0;
}

.userDropdown li {
	padding: 0 12px;
	cursor: pointer;
}

.userDropdown li:hover {
	background-color: #f5f5f5;
}

.well {
    border-radius: 5px;
    background: #ECECEC;
    padding: 15px;
}

hr {
	margin-top: 0px;
	margin-bottom: 2px;
}